Generate a desription of a {{gender}} with name {{name}} for rogulike game.
Setting: humans had normal life in DF-like world but one day woke up and found themselves on an island.
Make it short. Focus on identity and personality.

Examples:
{% for example in examples %}
{{example}}
{% endfor %}
